// Menu button styles
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 20px;
  cursor: pointer;
  @include easeout;

  // Button lines
  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeout;
  }

  // Rotate into 'X' with menu lines
  &.close {
    transform: rotate(180deg);

    // Transform lines for the close state
    .btn-line {
      // Line-1
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line-2
      &:nth-child(2) {
        opacity: 0;
      }
      // Line-3
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -7px);
      }
    }
  }
}
