@import "config";
@import "menu";
@import "mobile";
* {
  box-sizing: border-box;
}
body {
  @include background;
  background-color: #444;
  color: color-switch($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    background: rgb(lighten($primary-color, 2), 0.5);
  }
}
a {
  text-decoration: none;
  color: #fff;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.Scondary-text {
  color: $secondary-color;
}
main {
  padding: 4rem;
  height: 100%;
  min-height: calc(100vh - 20px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeout();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

//about
.about-info {
  display: grid;
  grid-template-areas:
    "bio-image bio bio"
    "places food hobby";
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  .bio-image {
    grid-area: bio-image;
    height: 240px;
    width: 240px;
    border: $secondary-color 5px solid;
    border-radius: 50%;
  }
  .bio {
    grid-area: bio;
    font-size: 1.3rem;
  }
  .places {
    grid-area: places;
  }
  .food {
    grid-area: food;
  }
  .hobby {
    grid-area: hobby;
  }
  .card {
    background: lighten($primary-color, 5%);
    padding: 1.5rem;
    border-bottom: $secondary-color 5px solid;
    box-shadow: 0 0px 50px -4px #cec040; /* inner white */ //
  }
  .Card-Header {
    color: #fffbfb;
    font-size: 1.2rem;
    font-weight: 450;
  }
}

//Fixed Footer
#main-footer {
  text-align: center;
  padding: 15px;
  background: lighten($primary-color, 10);
  color: switch-color($primary-color);
}
